@charset "UTF-8";

html, body{
	margin: 0; padding:0;
	font-family: 'Do Hyeon', sans-serif; 
}

body{
	background-color: #f2ebe6;
	margin-top: 120px;
	min-width:1000px;
}

article{
	position:relative;
	overflow: auto;
	margin-bottom: 50px;
}

.clear {
	clear: both;
}
/* footer-------------------------------------------------------------------------------------------------------------------------------- */
footer{
	position:absolute;
	width: 100%; height: 272px; 
	font-size: .875rem; 
	color:#6a6a6a;
	background-color: #292929;
}

footer #copy{
	position:relative;
	bottom:0;
	margin: 0 auto;
	width: 60%; height: 172px;
	top: 50px;
	min-width: 800px;
	font-weight: bold;
}

footer #copy p{
	margin : 0 0 5px 0;
}

footer #copy ul{
	position:absolute;
	top: -10px; right:0px;
	list-style: none;
}

footer #copy ul li{
	list-style: none;
	display: list-item;
	float: left;
	padding: 0 10px;
}

footer #copy a{
	color: #6a6a6a;
	text-decoration: none;
}
/* location------------------------------------------------------------------------------------------------------------------------------------------ */
.location{
	width: 100%; height: 60px;
	background-color: #000;
	line-height: 60px;
	margin-bottom: 50px;
}
.location ul{
	list-style: none;
	width:60%; height:100%;
	margin: 0 auto;
	padding: 0px;
}
.location ul li{
	float: left;
	color: #fff;
	font-family: 'Do Hyeon', sans-serif;
}
.location ul li a{
	color: #fff;
	text-decoration: none;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------ */
.wrap{
	width: 60%;
	margin: 0 auto;
	background-color: #f2ebe6;
}

#terms_wrap_ul{
	position: absolute;
	right: 400px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#terms_wrap_ul li{
	float: left;
}
#terms_wrap_ul li a{
	text-decoration: none;
	margin: 0px 15px 0px 15px;
	font-size: 1.25em;
	color: #6a6a6a;
	font-weight: bold;
}
.big_h1{
	margin-top: 0px; 
	font-family: 'Do Hyeon', sans-serif; 
	font-size: 2.6em
}

.textarea{
	position:relative;
	padding: 40px; height:600px;
	background-color: #fff;
	overflow: scroll;
}
.textarea h1{
	font-size: 1.8em;
}
.textarea h2, p{
	font-size: 1.3em;
}

.btnarea{
	position:relative;
	width: 100%; height: 100px;
	background-color: #f8f8f8;
	font-size: 1.5em;
	line-height: 100px;
}

.btnarea .btn_c1{
	position:relative;
	height: 50px;
	margin:0;
	padding: 5px 20px;
	border: 0px;
	border-radius: 5px;
	vertical-align: middle;
	margin-left: 50px;
	color: #fff;
	background-color: #8d8d8d;
	font-size: 1em;
	font-family: 'Do Hyeon', sans-serif; 
}

ul {list-style: none;display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;}

ul.menu{margin-top: 15px;}

.sitemap{height: 585px;background-image: url(../image/main/bg_botmenu.jpg) ; margin:0 auto;}
.undermenu{height: 585px; max-width: 1100px; margin: 0 auto;}

.sitemap .menu{ height: 500px; padding-top: 50px;}
.sitemap ul.menu>li {position: relative;float: left;width: 20%;}
.sitemap ul.menu>li:first-child a{padding-left:0;}
.sitemap ul.menu>li:first-child{border:0px;}
.sitemap ul.menu>li a {display: block; height: 28px; padding-left:24px;
font-weight: 700; font-size: 1.5rem; color: #89513a;line-height: 28px;}

.sitemap ul.menu .submenu{margin-top:15px; padding:0px; }
.sitemap ul.menu .submenu a{height:32px;font-size:1rem;line-height:32px; text-decoration: none;}
 

.sitemap ul.menu>li:before {content: ""; position: absolute; left: 0; top: 0; 
height: 338px; border-left: 1px dashed #d9c8be;}

.sitemap ul.menu>li:first-child:before {content: ""; position: absolute; left: 0; top: 0; 
height: 338px; border-left: 0px;}

#header_container {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 50;
	background-color: #fff;
}

#web_container {
	max-width: 1184px;
	height: 120px;
	position: relative;
	margin: 0 auto;
}

#logo {
	position: absolute;
	vertical-align: middle;
}

#top_menu {
	position: relative;
	margin-left: 15%;
}

d, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.menu_item {
	position: relative;
	float: left;
	width: 25%;
	z-index: 11;
	font-weight: 700;
	font-size: 1.375rem;
	text-align: left;
	line-height: 120px;
	cursor: default;
}

#order_btn {
	position: absolute;
	right: 0;
	top: 20px;
}

/*menuList.jsp------------------------------------------------------------------------------------------*/
.menuarea{
	position:relative;
	width: 1200px;
	margin: 0 auto;
}

.menuarea ul{
	width: 1200px;
	list-style: none;
}

.menuarea ul li{
	width: 220px; height: 300px;
	margin: 0 40px;
	float: left;
}

.menuarea ul li a{
	width: 220px; height: 300px;
	margin: 0 40px;
	float: left;
	text-decoration: none;
	color: #292929;
	font-family: 'Do Hyeon', sans-serif; 
	font-size: 20px;
	text-align: center;
}

.menuImgdiv{
	width: 100%; height: 144px;
}

.menuContdiv{
	width: 100%; height: 121px;
}

.menuImg{
	width: 220px; height: 144px;
} 

/* DeliveryHeader-------------------------------------------------------*/
.web_container{
	max-width: 1184px;
	position: relative;
	margin: 0 auto;
	height: 120px;
    padding-top: 48px;
}
.WEB_logo{
	display: inline-block;
    position: static;
    width: auto;
    height: 120px;
    padding-left: 80px;
    padding-right: 10px;
    font-weight: 700;
    font-size: 2.25rem;
    color: #fff;
    text-indent: 0;
    line-height: 120px;
    cursor: pointer;
	background: url(https://www.burgerking.co.kr/dist/img/logo_delivery.26d1d682.png) no-repeat 0; 
}

.WEB_logo a{
	text-decoration: none;
	color: #fff;
}

.utilWrap {
    position: absolute;
    right: 20px;
    top: 0;
    overflow: hidden;
}

.utilWrap a {
    position: relative;
    display: block;
    float: left;
    height: 48px;
    padding: 0 14px;
    font-size: .875rem;
    line-height: 48px;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: #fff;
}

.utilWrap a span:after {content: ""; position: absolute; left: 0; top: 18px;
height: 15px; border-left: 1px solid #e84e47;}

.utilWrap a:first-child span:after {content: ""; position: absolute; left: 0; top: 18px;
height: 15px; border-left: 0px;}

/* header------------------------------------------------------------------------------------*/
.header_container {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 50;
	background-color: #fff;
}

#web_container {
	max-width: 1184px;
	height: 120px;
	position: relative;
	margin: 0 auto;
	line-height: 120px;
}

#logo {
	line-height: 120px;
}

.top_menu {
	position: relative;
	margin-left: 15%;
}

.top_menu ul {
	float: left;
	width: 94%;
	max-width: 768px;
	margin-left: 96px; 
}

.top_menu:hover .header_submenu{
	height: 322px;
	z-index: 101;
	margin-left: 0px; 
}

d, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0;
	padding: 0;
}

.menu_item {
	position: relative;
	float: left;
	width: 25%;
	z-index: 11;
	font-weight: 700;
	font-size: 1.5rem;
	text-align: left;
	cursor: default;
}

#order_btn {
	right: 0;
}

.header_submenu {
	position: absolute;
	left: 0;
	top: 100%;
	min-width: 100%;
	height: 0;
	overflow: hidden;
	z-index: 100;
	list-style: none;
}

.header_submenu li {
	margin-bottom: 5px;
	line-height: 0px;
}

.header_submenu a {
	height: 125px;
	font-size: .875rem;
	line-height: 25px;
}

.footer_a{
	color: #000;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
}

.header_submenu li a {
	font-size: 14px;
	text-decoration: none;
	color: #292929;
	font-family: 'Noto Sans KR', sans-serif;
}

#delivery_Signup_btn img{
	float: right;
	margin-top:40px;
	vertical-align: middle;
}