@charset "UTF-8";

html, body{
	margin: 0; padding:0;
	font-family: 'Do Hyeon', sans-serif; 
}

body{
	background-color: #f2ebe6;
}

article{
	position:relative;
	top:120px;
}

.clear {
	clear: both;
}
/* footer-------------------------------------------------------------------------------------------------------------------------------- */
footer{
	position:relative;
	bottom:0px;
	width: 100%; height: 272px; 
	font-size: .875rem; 
	color:#6a6a6a;
	background-color: #292929;
}

footer #copy{
	position:relative;
	margin: 0 auto;
	width: 60%; height: 172px;
	top: 50px;
	min-width: 800px;
	font-weight: bold;
}

footer #copy p{
	margin : 0 0 5px 0;
}

footer #copy ul{
	position:absolute;
	top: -10px; right:0px;
	list-style: none;
}

footer #copy ul li{
	list-style: none;
	display: list-item;
	float: left;
	padding: 0 10px;
}

footer #copy a{
	color: #6a6a6a;
	text-decoration: none;
}
/* location------------------------------------------------------------------------------------------------------------------------------------------ */
.location{
	width: 100%; height: 60px;
	background-color: #000;
	line-height: 60px;
	margin-bottom: 50px;
}
.location ul{
	list-style: none;
	width:60%; height:100%;
	margin: 0 auto;
	padding: 0px;
}
.location ul li{
	float: left;
	color: #fff;
	font-family: 'Do Hyeon', sans-serif;
}
.location ul li a{
	color: #fff;
	text-decoration: none;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------ */
.wrap{
	width: 60%; height: 969px;
	margin: 0 auto;
	background-color: #f2ebe6;
}

#terms_wrap_ul{
	position: absolute;
	right: 400px; top:130px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#terms_wrap_ul li{
	float: left;
}
#terms_wrap_ul li a{
	text-decoration: none;
	margin: 0px 15px 0px 15px;
	font-size: 1.25em;
	color: #6a6a6a;
	font-weight: bold;
}
.big_h1{
	margin-top: 0px; 
	font-family: 'Do Hyeon', sans-serif; 
	font-size: 2.6em
}

.textarea{
	position:relative;
	padding: 20px; height: 607px;
	background-color: #fff;
	overflow: scroll;
}
.textarea h1{
	font-size: 1.8em;
}
.textarea h2, p{
	font-size: 1.3em;
}