@charset "UTF-8";

#header_container {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 50;
}

#web_container {
	max-width : 1184px;
	height:120px;
	position: relative;
	margin: 0 auto;
    padding: 0 20px;
	padding-top:24px;	
	
}

#logo {
	position: absolute;
	left: 20px;
	top: 20px;
}

#top_menu {
	position: relative;
	margin-left: 15%;
}

d, dl, dt, em, figure, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.menu_item {
	position: relative;
	float: left;
	width: 25%;
	padding: 20px 0 0;
	z-index: 11;
	padding-bottom: 20px;
	font-weight: 700;
	font-size: 1.375rem;
	text-align: left;
	line-height: 55px;
	cursor: default;
}

#order_btn {
	position: absolute;
    right: 0;
    top: 20px;
}

.clear {
	clear: both;
}

footer {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
	width: 100%;
	height: 272px;
	font-size: .875rem;
	font-weight: bold;
	color: #6a6a6a;
	background-color: #292929;
}

footer #copy {
	margin: 0 auto;
	width: 60%;
}