@charset "UTF-8";

.contentbox {
	/* padding: 50px 0 120px; */
	background: white;
}

.event_web_container {
	background: transparent;
	margin-top: 0;
	max-width: 1184px;
	margin: 0 auto;
	padding: 0 20px;
	;
}

.subtit {
	position: relative;
	margin: 0 auto;
	margin-bottom: 26px;
}

.event_tit {
	margin-bottom: 26px;
	font-size: 2.5rem;
	line-height: 100%;
}

.event_tit .submenu_right {
	display: table;
}

.subtit .submenu_right a {
	text-decoration-line: none;
	color: #b8b8b8;
}

.submenu_right {
	position: absolute;
	top: 50%;
	right: 0;
}

.submenu_right li:first-child {
	padding-left: 0;
}

.submenu_right li {
	position: relative;
	display: table-cell;
	padding: 0 18px;
	vertical-align: top;
	white-space: nowrap;
	list-style: none;
	font-weight: 700;
	font-size: 1.375rem;
}

.submenu_right li span {
	padding: 5px 0;
}

.eventview {
	margin-top: 85px;
}

.event_box {
	margin-top: 40px;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.eventarea li {
	float: left;
	width: calc(50% - 25px);
	margin-bottom: 50px;
}

.eventarea li:nth-child(2n-1) {
	margin-right: 50px;
}

.eventarea li img {
	width: 547px;
	height: 229.58px;
}

.eventarea li a {
	font-size: 1.625rem;
	font-weight: 700;
	color: black;
	text-decoration-line: none;
}

.eventarea li p {
	font-size: 1.625rem;
	font-weight: 700;
	margin-top: 15px;
}